"ignore case whiling searching unless query is upper case
set ignorecase smartcase

let mapleader=","

"relative to current line
set relativenumber

" Make clipboard and default register equivalent
set clipboard=unnamed

"modify change in paranthesis behavior
nnoremap ci( f(ci(

"highlight incremental search 
set hlsearch

"show modes at the bottom of editor
set showmode

"show number lines
set number

"keep visual mode after indent
vnoremap < <gv
vnoremap > >gv


"copy file
map <Leader>a  :%y<CR>

map <C-j> <C-w>j<CR>
map <C-k> <C-w>k<CR>
map <C-h> <C-w>h<CR>
map <C-l> <C-w>l<CR>

"ide shortcuts
nnoremap <Leader><Leader> :action VimFilePrevious<CR>
nnoremap <Leader>g :action GotoImplementation<CR>
nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>d :action Debug<CR>
nnoremap <Leader>uf :action FindUsages<CR>
nnoremap <Leader>f :action GotoFile<CR>
nnoremap <Leader>us :action ShowUsages<CR>
nnoremap <Leader>ru :action Run<CR>
nnoremap <Leader>z :action FindInPath<cr>
nnoremap <Leader>s :action GotoSymbol<CR>

" Override point navigation
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" Reload .ideavimrc
nnoremap <Space>vs :source ~/.ideavimrc<CR>

"remove arrow keys 
"noremap <Up> <Nop>
"noremap <Down> <Nop>
"oremap <Left> <Nop>
"oremap <Right> <Nop>


